.logo {
  display: block;
  margin: 100px auto 50px;
  width: 250px; }

h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: "Open Sans";
  text-align: center; }

h1 {
  text-transform: capitalize;
  font-size: 5em;
  margin: 0;
  font-weight: 600;
  color: #03aa47; }

h2 {
  color: #3b2313;
  font-size: 1.75em;
  margin: 0.25em 0 0;
  font-weight: 300; }
